[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jedi = "*"
json-rpc = "*"
service-factory = "*"
autoflake = "*"
importmagic = "*"
epc = "*"
cython = "*"


[dev-packages]

